<!-- 
<form (ngSubmit)="addExpense()">
    <label>Date:</label>
    <input type="Date" [(ngModel)]="expense.date" name="date" required>
  
    <label>Sum:</label>
    <input type="number" [(ngModel)]="expense.sum" name="sum" required>
  
    <label>Supplier:</label>
    <input type="text" [(ngModel)]="expense.supplier" name="supplier" required>
  
    <label>Payment:</label>
    <input type="text" [(ngModel)]="expense.payment" name="payment" required>
  
    <label>Details:</label>
    <textarea [(ngModel)]="expense.details" name="details" required></textarea>
  
    <button type="submit">Add Expense</button>
</form> -->
