
<form [formGroup]="myForm" (submit)="save()" id="form">
    <h2>Issuing A Receipt</h2>
    <select formControlName="customer" >
        <option value="" disabled selected>Select a customer</option>
        `@for(customer of allCustomers;track customer.useName){<option >userName: {{customer.useName}}  name: {{customer.name}}</option>}`
    </select>
    `@if(getControlErrors('customer')?.['required']){<span class="error">*</span>}`
    <br>
    <br>
    <input type="checkbox" formControlName="newCustomer"><label>new customer</label>
    <fieldset>
        <input type="text" placeholder="userName" formControlName="newCustomerUserName">
        <input type="text" placeholder="name" formControlName="newCustomerName" >
        <input type="text" placeholder="phone" formControlName="newCustomerPhone" >
    </fieldset>
    <label>date </label><input  formControlName="date" type="date">
    `@if(getControlErrors('date')?.['required']){<span class="error">*</span>}`
    <br><br>
    <label>sum </label><input formControlName="sum" type="number">
    `@if(getControlErrors('sum')?.['required']){<span class="error">*</span>}`
    <br><br>
    <label>payment method </label>
    <select formControlName="payment">
        @for(paymentype of paymentTypesArray;track paymentype){
            <option [value]="paymentype">{{paymentype}}</option>
        }
    </select>
    `@if(getControlErrors('payment')?.['required']){<span class="error">*</span>}`
    <br><br>
    <label>details </label>
    <input type="text" formControlName="details">
    `@if(getControlErrors('details')?.['required']){<span class="error">*</span>}`

    <input type="submit" [disabled]="myForm.valid===false">

</form>




