
<form [formGroup]="myForm" (ngSubmit)="save()" id="form">
    <h2>Issuing A Receipt</h2>
    <label>choose a customer</label>
    <select formControlName="customer" >
        @for(customer of allCustomers;track customer.useName){<option >userName: {{customer.useName}}  name: {{customer.name}}</option>}
    </select>
    @if(getControlErrors('customer')?.['required']){<span class="error">*</span>}
    <br>
    <br>
    <input type="checkbox" formControlName="newCustomer" [defaultChecked]="false"
    ><label>new customer</label>
    <fieldset>
        <input type="text" placeholder="userName" formControlName="newCustomerUserName">
        @if(getControlErrors('newCustomerUserName')?.['required']){<span class="error">*</span>}
        <input type="text" placeholder="name" formControlName="newCustomerName" >
        @if(getControlErrors('newCustomerName')?.['required']){<span class="error">*</span>}
        <input type="text" placeholder="phone" formControlName="newCustomerphone" >
        @if(getControlErrors('newCustomerphone')?.['required']){<span class="error">*</span>}
        @if(customerError){<p class error> error accured pleas change userName</p>}
    </fieldset>
    <label>date </label><input  formControlName="date" type="date">
    @if(getControlErrors('date')?.['required']){<span class="error">*</span>}
    <br><br>
    <label>sum </label><input formControlName="sum" type="number">
    @if(getControlErrors('sum')?.['required']){<span class="error">*</span>}
    <br><br>
    <label>payment method </label>
    <select formControlName="payment">
        @for(paymentype of paymentTypesArray;track paymentype){
            <option [value]="paymentype">{{paymentype}}</option>
        }
    </select>
    @if(getControlErrors('payment')?.['required']){<span class="error">*</span>}
    <br><br>
    <label>details </label>
    <input type="text" formControlName="details">
    @if(getControlErrors('details')?.['required']){<span class="error">*</span>}
    <br><br>
    <input type="submit" [disabled]="myForm.valid===false">

</form>




